<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Instant Replay Button Clicker</title>
  <style type="text/css">
    .aws-iot-button {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
    .clicked {
      background: gray;
    }
  </style>
  <script type="text/javascript">
    const clickUrl = "{{clickUrl}}";
    const clickButton = () => {
      fetch(clickUrl, { method: "post" });
      document.body.classList.add("clicked");
      setTimeout(() => {
        document.body.classList.remove("clicked");
      }, 200);
    };
  </script>
</head>

<body>
  <img class="aws-iot-button" src="/assets/images/aws-iot-button.png" onclick="clickButton()">
</body>

</html>